.works__title-block
  span.works__title.title-big Мои работы
.slider
  .slider-left
    .slider__title-block
      .slider__title.title-min Сайт школы образования
    .slider__tools-block
      .slider__tools html css javascript
    .slider__link-block
      .slider__link Посмотреть сайт
    .slider-right
      .slider__display
        img(src="app/img/works1.png")
      .slider__controls
        .slider__prev
          img(src="app/img/works2.png")
          i.fa.fa-chevron-down
        .slider__next
          img(src="app/img/works3.png")
          i.fa.fa-chevron-up
