//- Слайдер в странице works

.works__title-block
  include ../_triangle
  +svg-bg('works_header')
  span.works__title.title-big Мои работы
.slider
  .slider-left
    .slider-left__info
      .slider__title-block
        .slider__title.title-min Сайт школы онлайн образования
      .slider__tools-block
        .slider__tools html, css, javascript
      .slider__link-block
        .slider__link 
          i.fa.fa-link
          | Посмотреть сайт
  .slider-right
    .slider__display
      img.slider__display-img(src="app/img/works/works1.png" alt="My works")
    .slider__controls.slider-controls
      .slider__prev.js__slider-controls
        i.fa.fa-chevron-down
        ul.slider-controls__list
          - for (var i =1; i <= 4; i++)
              li.slider-controls__item(class=`${(i == 4) ? 'slider-controls__item-active' : ''}`)
                img(src=`app/img/works/works${i}.png`, alt='works__slider', class='slider-controls__img')
      .slider__next.js__slider-controls
        i.fa.fa-chevron-up
        ul.slider-controls__list
          - for (var i =1; i <= 4; i++)
              li.slider-controls__item(class=`${(i == 2) ? 'slider-controls__item-active' : ''}`)
                img(src=`app/img/works/works${i}.png`, alt='works__slider', class='slider-controls__img')
