.works__title-block
  span.works__title.title-big Мои работы
.slider
  .slider-left
    .slider-left__info
      .slider__title-block
        .slider__title.title-min Сайт школы онлайн образования
      .slider__tools-block
        .slider__tools html, css, javascript
      .slider__link-block
        .slider__link 
          i.fa.fa-link
          | Посмотреть сайт
  .slider-right
    .slider__display
      img(src="app/img/works1.png")
    .slider__controls
      .slider__prev
        i.fa.fa-chevron-down
      .slider__next
        i.fa.fa-chevron-up
