// страница about

.about {
	@import '../common/_style';
	@import '../common/_vars';
	@import '../common/modules/_welcome__bg';
	@import '../common/modules/_user-block';
	@import '../common/modules/_header';
	@import '../common/modules/_footer';
	background: #EFEEE9;
	.content {
		width: 100%;
		margin-bottom: 45px;
		@include flex(row, space-around, flex-start);
		margin: 0 auto;
	}
	// Блок ОБО МНЕ
	.about-me {
		width: 48%;
		@include flex(column, center, center);
		text-align: right;
		&__title {
			@include sticks;
			&::before,&::after {
				margin-top: 0;
			}
			&-min {
				@include sticks;
			}
		}
		&__photo {
			margin-bottom: 40px;
		}
		&__desc {
			width: 79%;
			margin: 0 auto 40px;
			p {
				margin-bottom: 10px;
				color: $greyColor;
				text-align: left;
			}
		}
	}
	// Блок скилов
	.skills {
		width: 48%;
		@include flex(column, center, center);
		&__title {
			@include sticks;
			text-align: center;
			margin-bottom: 30px;
			&::before,&::after {
				margin-top: -10%;
			}
		}
		&__desc {
			width: 85%;
			color: $greyColor;
			margin-bottom: 65px;
		}
		&__name {
			width: 85%;
			margin: 0 auto 20px;
			display: block;
			color: $greyColor;
			font-size: 28px;
			line-height: 32px;
			align-self: flex-start;
			font-family: $boldFont;
		}
		&__items {
			width: 85%;
			margin-bottom: 45px;
		}
	}
	// Блок карты
	.map {
		height: 100vh;
		width: 100%;
		background: url("../img/map__bg.jpg") no-repeat center center;
		background-size: cover;
		@include flex(row, center, center);
	}
	// блок контакты в карте
	.contacts {
		width: 380px;
		background: rgba(255,255,255,0.7);
		border-radius: 5px;
		color: $greyColor;
		@include flex(column, center, flex-start);
		margin-top: -10%;
		span {
			margin-bottom: 25px;
			padding-left: 80px;
		}
		&__title {
			text-align: center;
			color: $darkColor;
			margin: 35px auto 45px;
			@include sticks;
			&::before,&::after {
				color: #d5d6d7;
				opacity: 1;
			}
		}
		&__item {
			color: rgba(69,90,100,0.8);
			font-family: $mediumFont;
			i {
				margin-right: 10px;
				font-size: 25px;
				color: $lightColor;
			}
		}
	}
}
