// страница index

.index {
	// кнопка авторизоваться
	.welcome__btn-auto {
		align-self: flex-end;
		cursor: pointer;
		background: transparent;
		outline: 0;
		border: 0;
		a {
			display: block;
			padding: 15px 30px;
			color: #FFF;
			border: 2px solid white;
			border-radius: 5px;
			background: transparent;
			&:hover {
				background: #fff;
				color: #00BFA5;
			}
		}
	}

	// описание в футере
	.welcome__desc {
		color: #FFF;
		align-self: center;
	}
}



@import '../common/_style';
@import '../common/_vars';
@import '../common/modules/_welcome__bg';
@import '../common/modules/_user-block';
@import '../common/modules/_footer';
