// страница blog

@import '../common/_style';
@import '../common/_vars';
@import '../common/modules/_welcome__bg';
@import '../common/modules/_user-block';
@import '../common/modules/_header';
@import '../common/modules/_footer';

// для названия страницы

.user-block {
	&__name {
		opacity: 0;
	}
	&__desc {
		opacity: 0;
	}
}
.blog-title {
	display: block;
	position: absolute;
	top: 60%;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	&__title {
		display: block;
		margin-bottom: 0;
		color: #FFF;
		@include sticks;
		text-transform: uppercase;
	}
}

// для треугольников и отступа

.welcome__bg {
	margin-bottom: 70px;
	&::before {
		background-image: linear-gradient(189deg, transparent 50%, #fff 50%);
	}
	&::after {
		background-image: linear-gradient(171deg, transparent 50%, #fff 50%);
	}
}

// для blog_content
.content {
	@include flex(row,space-between,flex-start);
}
// Блок сайдбар слева
.sidebar {
	width: 31%;
	text-align: right;
	padding-right: 100px;
	&__item {
		margin-bottom: 40px;
		cursor: pointer;
	}
	&__link {
		color: $greyColor;
		&-active {
			color: #00bfa5;
			position: relative;
			&::after {
				content:"";
				display: block;
				width: 3px;
				height: 40px;
				background: #00BFA5;
				position: absolute;
				right: -20px;
				top: -8px;
				
			}
		}
	}
}
// блок для записей
.write {
	width: 65%;
	&__item {
		width: 87%;
		margin-bottom: 70px;
		border-bottom: 5px solid #F1F1F2;
		padding-bottom: 70px;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
		p {
			color: $greyColor;
			margin-bottom: 30px;
			line-height: 26px;
		}
	}
	&__title {
		display: block;
		margin-bottom: 30px;
	}
	&__data {
		display: block;
		color: #00BFA5;
		margin-bottom: 35px;
	}
}