footer.footer
  div.footer-top
    nav.footer-top__nav
      ul.footer-top__list
        li.footer-top__item
          a.footer-top__link(href="works.html") Мои работы
        li.footer-top__item
          a.footer-top__link(href="about.html") Обо мне
        li.footer-top__item
          a.footer-top__link(href="blog.html") Блог
        li.footer-top__item
          a.footer-top__link(href="index.html") Авторизация
    div.footer-top__social
      span
        a(href="https://vk.com/id32952099")
          i.fa.fa-vk
          i.fa.fa-circle-thin
          | Вк
      span
        a(href="https://github.com/andrewleykin")
          i.fa.fa-github-alt
          i.fa.fa-circle-thin
          | Гитхаб
      span
        a(href="https://www.instagram.com/andrewleykin")
          i.fa.fa-instagram
          i.fa.fa-circle-thin
          | Inst
  div.footer-bottom
    p.footer-bottom__desc Я веб-разработчик из Набережных Челнов, и этот сайт я сделал в рамках обучения <br> в Школе онлайн образования LoftSchool.
    span.footer-bottom__desc © Лейкин Андрей | создано с любовью в LoftSchool | 2017