footer.footer
  div.footer-top
    nav.footer-top__nav
      ul.footer-top__list
        li.footer-top__item
          a.footer-top__link(href="works.html") Мои работы
        li.footer-top__item
          a.footer-top__link(href="about.html") Обо мне
        li.footer-top__item
          a.footer-top__link(href="blog.html") Блог
        li.footer-top__item
          a.footer-top__link(href="index.html") Авторизация
    div.footer-top__social
      span
        a(href="#") Вк
      span
        a(href="#") Гитхаб
      span
        a(href="#") Inst
  div.footer-bottom
    p.footer-bottom__desc Я веб-разработчик из Набережных Челнов, и этот сайт я сделал в рамках обучения <br> в Школе онлайн образования LoftSchool.
    span.footer-bottom__desc © Лейкин Андрей | создано с любовью в LoftSchool | 2017