//- Блок меню

nav.main-menu
  ul.main-menu__list
    li.main-menu__item
      a.main-menu__link(href="works.html") Мои Работы
    li.main-menu__item
      a.main-menu__link(href="blog.html") Блог
    li.main-menu__item
      a.main-menu__link(href="about.html") Обо мне
    li.main-menu__item
      a.main-menu__link(href="index.html") Авторизация