//- 
  секция - page-header
  блок - user-block
  элемент - стрелка вниз


section.page-header.js__header
  .page-header__img
  div.header
    div.header__social
      span
        a(href="https://vk.com/id32952099")
          i.fa.fa-vk
          | Вк
      span
        a(href="https://github.com/andrewleykin")
          i.fa.fa-github-alt
          | Гитхаб
      span
        a(href="https://www.instagram.com/andrewleykin")
          i.fa.fa-instagram
          | Inst
    div.header__menu
  div.user-block.user-block--pages
    div.user-block__top
      div.user-block__photo
      span.user-block__name Андрей Лейкин
      span.user-block__desc Личный сайт веб разработчика
  .arrow-down.js__arrow-down
    i.fa.fa-chevron-down