.preloader
  svg.preloader__rounds(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='144px', height='144px', viewbox='0 0 144 144', enable-background='new 0 0 150 150', xml:space='preserve')
    circle(opacity='0.4', stroke-miterlimit='10', cx='72', cy='71.999', r='70')
    circle(opacity='0.7', stroke-miterlimit='10', cx='72', cy='72', r='55')
    circle(stroke-miterlimit='10', cx='72', cy='72', r='40')

  .preloader__percent 0%