section.welcome__bg
    div.header
      div.header__social
        span
          a(href="#") Вк
        span
          a(href="#") Гитхаб
        span
          a(href="#") Inst
      div.header__menu
    div.user-block
      div.user-block__top
        div.user-block__photo
          img(src="app/img/user-block__photo.png")
        span.user-block__name Андрей Лейкин
        span.user-block__desc Личный сайт веб разработчика