// Стили для flip эффекта

.flip {
	align-self: center;
	transition: transform $trs_time;
	transform-style: preserve-3d;
	position: relative;
	width: 380px;
	height: 410px;
	perspective: 600px;
	position: relative;
	z-index: 1010;
}

.flip.js__flip {
	transform: rotateY(180deg);
}

.flip__back,.flip__front {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}
.flip__front {
	z-index: 2;
}
.flip__back {
	transform: rotateY(180deg);
}

// для анимации появления
.flip__animation {
	animation: flip 1.5s;
	align-self: center;
}

@keyframes flip {
	from {
		opacity: 0;
		transform: rotateX(90deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

// Медиа запросы 

@media (max-width: 480px) {
	.flip {
		width: 300px;
	}
}
