// описание в футере

.footer-desc {
	color: $whiteColor;
	align-self: center;
	opacity: 0.5;
	font-family: $lightFont;
}

// Медиа запросы

@media (max-width: 480px) {
	.footer-desc{
		text-align: center;
		opacity: 0.8;
	}
	.footer-desc__width__100 {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	.footer-desc__display__none {
		display: none;
	}
}