// описание в футере

.index-desc {
	color: $whiteColor;
	align-self: center;
	opacity: 0.5;
	font-family: $lightFont;
	margin-bottom: 10px;
	z-index: 1010;
	position: relative;
}

// Медиа запросы

@media (max-width: 480px) {
	.index-desc{
		text-align: center;
		opacity: 0.8;
	}
	.index-desc__wide {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	.index-desc__hide {
		display: none;
	}
}

@media (max-width: 320px) {
	.index-desc{
		margin-bottom: 50px;
	}
}