// Блок ОБО МНЕ

.about-me {
	width: 48%;
	@include flex(column, center, center);
	text-align: right;
	margin-bottom: 50px;
	&__title {
		@include sticks;
		&::before,&::after {
			margin-top: 0;
		}
		&-min {
			@include sticks;
		}
	}
	&__photo {
		margin-bottom: 40px;
		img {
			width: 445px;
		}
	}
	&__desc {
		width: 76%;
		margin: 0 auto 40px;
		color: $greyColor;
		text-align: left;
	}
}

// Меди запросы

@media screen and (max-width: 768px) {
	.container-1200 {
		width: 720px;
	}
	.about-me {
		width: 100%;
		text-align: center;
		&__desc {
			width: 472px;
			line-height: 1.5;
		}
	}
}