// Блок ОБО МНЕ

.about-me {
	width: 48%;
	@include flex(column, center, center);
	text-align: right;
	margin-bottom: 50px;
	&__title {
		@include sticks;
		&::before,&::after {
			margin-top: 0;
		}
		&-min {
			@include sticks;
		}
	}
	&__photo {
		margin-bottom: 40px;
		img {
			width: 445px;
		}
	}
	&__desc {
		width: 76%;
		margin: 0 auto 40px;
		color: $greyColor;
		text-align: left;
	}
}

// Меди запросы

@media screen and (max-width: 768px) {
	.about-me {
		width: 100%;
		text-align: center;
		&__desc {
			width: 80%;
			line-height: 1.5;
		}
	}
}

@media screen and (max-width: 480px) {
	.about-me__photo img {
		width: 300px;
	}
	.about-me__title {
		&::after,&::before {
			margin: 0 7px;
		}
	}
}