// Эффекты при ховере у кругов

.content:hover .circle-0 {
	stroke-dasharray: .001 251.3;
}
.content:hover .circle-5 {
	stroke-dasharray: 12.56 251.3;
}
.content:hover .circle-10 {
	stroke-dasharray: 25.13 251.3;
}
.content:hover .circle-15 {
	stroke-dasharray: 37.7 251.3;
}
.content:hover .circle-20 {
	stroke-dasharray: 50.26 251.3;
}
.content:hover .circle-25 {
	stroke-dasharray: 62.83 251.3;
}
.content:hover .circle-30 {
	stroke-dasharray: 75.39 251.3;
}
.content:hover .circle-35 {
	stroke-dasharray: 87.96 251.3;
}
.content:hover .circle-40 {
	stroke-dasharray: 100.52 251.3;
}
.content:hover .circle-45 {
	stroke-dasharray: 113.09 251.3;
}
.content:hover .circle-50 {
	stroke-dasharray: 125.65 251.3;
}
.content:hover .circle-55 {
	stroke-dasharray: 138.22 251.3;
}
.content:hover .circle-60 {
	stroke-dasharray: 150.78 251.3;
}
.content:hover .circle-65 {
	stroke-dasharray: 163.35 251.3;
}
.content:hover .circle-70 {
	stroke-dasharray: 175.91 251.3;
}
.content:hover .circle-75 {
	stroke-dasharray: 188.48 251.3;
}
.content:hover .circle-80 {
	stroke-dasharray: 201.04 251.3;
}
.content:hover .circle-85 {
	stroke-dasharray: 213.61 251.3;
}
.content:hover .circle-90 {
	stroke-dasharray: 226.17 251.3;
}
.content:hover .circle-95 {
	stroke-dasharray: 238.74 251.3;
}
.content:hover .circle-100 {
	stroke-dasharray: 251.3 251.3;
}