// Эффекты при ховере у кругов

.content:hover .circle-0 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-5 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-15 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-20 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-25 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-30 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-35 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-45 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-50 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-55 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-60 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-65 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-70 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-75 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-80 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-85 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-90 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-95 {
	stroke-dasharray: 42.39 282.6;
}
.content:hover .circle-100 {
	stroke-dasharray: 42.39 282.6;
}