  // Блок скилов

.skills {
	width: 48%;
	@include flex(column, center, center);
	&__title {
		width: 100%;
		@include sticks;
		text-align: center;
		margin-bottom: 30px;
		&::before,&::after {
			margin-top: -10%;
		}
	}
	&__desc {
		width: 100%;
		color: $greyColor;
		margin-bottom: 65px;
	}
	&__list-name {
		width: 100%;
		margin: 0 auto 20px;
		display: block;
		color: $greyColor;
		font-size: 28px;
		line-height: 32px;
		align-self: flex-start;
		font-family: $boldFont;
	}
	&__items{
		margin-bottom: 45px;
	}
	&__items-wrap {
		width: 100%;
	}
	&__list {
		width: 100%;
	}
	&__item {
		display: inline-block;
		width: 120px;
		height: 120px;
		position: relative;
	}
	&__name {
		position: absolute;
		margin: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $lightColor;
		font-family: $mediumFont;
		font-size: 13px;
		z-index: 1;
		width: 80px;
		text-align: center;
	}
}

// Медиа запросы

@media screen and (max-width: 1250px) {
	.skills {
		width: 45%;
		padding: 0 10px;
	}
}

@media screen and (max-width: 768px) {
	.skills {
		width: 100%;
		background: #edebdf;
		padding-top: 50px;
		&__title {
			&::before,&::after {
				margin-top: 0;
			}
		}
		&__desc {
			width: 90%;
			line-height: 1.5;
			margin-bottom: 50px;
		}
		&__items,&__list-name {
			text-align: center;
		}
	}
}
@media screen and (max-width: 480px) {
	.skills__desc{
		width: 95%;
	}
}