// для названия страницы

.user-block__name__hide {
	opacity: 0;
}
.user-block__desc__hide {
	opacity: 0;
}

.blog-title {
	display: block;
	position: absolute;
	top: 100%;
	margin: 0 auto;
	text-align: center;
	color: $whiteColor;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	&__title {
		margin-bottom: 0;
		color: $whiteColor;
		@include sticks;
		text-transform: uppercase;
		&::after,&::before {
			margin-top: 0;
			background: $whiteColor;
		}
	}
}
