// Блок сайдбар слева

.sidebar {
	width: 31%;
	text-align: right;
	padding-right: 100px;
	&__item {
		margin-bottom: 40px;
		cursor: pointer;
	}
	&__link {
		color: $greyColor;
		transition: $trs_time all;
		position: relative;
		&--active {
			color: #00bfa5;
			position: relative;
			font-family: $boldFont;
			&::after {
				content:"";
				display: block;
				width: 3px;
				height: 40px;
				background: #00BFA5;
				position: absolute;
				right: -20px;
				top: -8px;
			}
		}
		&:hover {
			color: #00bfa5;
			&::before {
				display: block;
			}
		}
		&::before {
			content:"";
			display: none;
			width: 3px;
			height: 40px;
			background: #00BFA5;
			position: absolute;
			right: -20px;
			top: -8px;
		}
	}
}

// для прилипания
.sidebar__fixed {
	position: fixed;
	top: 6%;
	left: 7.8%;
}

// Медиа запросы

@media screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}
}