// Переменные

// Шрифты

$regularFont: "RobotoRegular", sans-serif;
$lightFont: "RobotoLight", sans-serif;
$mediumFont: "RobotoMedium", sans-serif;
$boldFont: "RobotoBold", sans-serif;
$titleFont: "Bernier", Arial, sans-serif;

// цвета

$darkColor: #373e42;
$greyColor: #455a64;
$greenColor: #009688;
$lightColor: #00bfa5;
$beigeColor: #efeee9;
$whiteColor: #fff;


// радиус, для главной страницы и авторизации
$user-block__radius: 5px;

// время для анимаций при наведении
$trs_time: 0.5s;