@charset "UTF-8";
html,
body,
div,
span,
h2,
h4,
p,
a,
img,
b,
i,
label,
article,
figure,
footer,
header,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url(../img/pattern.png) repeat;
  color: #4a545d;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container-big {
  max-width: 1400px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Header */
.page-header {
  background: #eff3f7 url(../img/line.png) bottom center no-repeat;
  height: 120px;
  margin-bottom: 40px;
}

.header-logo {
  margin-left: 100px;
  margin-top: 40px;
}

.header-social {
  margin-right: 100px;
  margin-top: 35px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.header-social .social-block {
  width: 47px;
  height: 47px;
  background: #58697a;
  border-radius: 50%;
  font-size: 25px;
  color: #eff3f7;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

.header-social .social-block:hover {
  background: #3ba8c0;
}

/* Main */
.page-main {
  display: flex;
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Navigation */
.main-nav {
  margin-bottom: 45px;
  border-radius: 5px;
}

.nav-list {
  background: #eff3f7;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 0;
  border-top: 2px solid #3ba8c0;
  margin: 0 10px;
}

.nav-item:first-child {
  border-top: none;
}

.nav-item .nav-link {
  padding: 25px 15px;
  font-size: 22px;
  line-height: 1.5;
  display: block;
  color: #959aa8;
  text-decoration: none;
  transition: 0.3s all;
}

.nav-item .nav-link:hover {
  color: #3ba8c0;
  padding-left: 5px;
}

.nav-item.active {
  background: #3ba8c0;
  margin: 0;
  margin-bottom: -2px;
}

.nav-item.active .nav-link {
  padding: 25px 15px;
  color: #fff;
}

/* Contacts */
.contacts {
  font-style: normal;
  color: #fff;
  border-radius: 10px;
}

.contacts-title {
  font-size: 21px;
  padding: 18px 0 12px 20px;
  background: #3ba8c0;
}

.contacts-title h4 {
  font-weight: 400;
}

.contact-item {
  padding: 15px 0 15px 45px;
}

.contact-item .contact-link {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.contact-item .contact-link .fa {
  margin-right: 10px;
}

.contact-item:nth-child(2) {
  background: #41b9d4;
}

.contact-item:nth-child(3) {
  background: #48cbe8;
}

.contact-item:nth-child(4) {
  background: #51daf8;
}

/* About me */
.about-me,
.my-works-content,
.my-works,
.write {
  width: 650px;
}

.inform,
.xp,
.educ,
.my-works {
  background: #eff3f7;
  margin-bottom: 25px;
}

.block-title {
  display: flex;
  margin-bottom: 30px;
}

.block-title p {
  font-size: 27px;
  line-height: 30px;
  color: #3ba8c0;
  padding: 28px;
  border-bottom: 2px solid #3ba8c0;
}

.inform-inner {
  display: flex;
  padding: 0 45px;
}

.inform-img {
  width: 150px;
  height: 150px;
  background: url(../img/inform-img.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 6px solid #3ba8c0;
  margin-right: 25px;
}

.information {
  width: 380px;
}

.information .inform-text {
  font-size: 15px;
  color: #37424d;
  margin-bottom: 20px;
}

.information .inform-text b {
  margin-right: 20px;
}

.inform-skills {
  display: flex;
}

.inform-skill {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.inform-skill .inform-skill-item {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(to bottom, #3ba8c0 50%, #2e8ca2 50%);
  text-align: center;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.inform-skill:last-child {
  margin-bottom: 45px;
}

/* xp educ */
.xp-inner,
.educ-inner {
  padding: 0 55px 20px;
}

.xp-block,
.educ-block {
  padding-left: 65px;
  background: url(../img/bg-xp.png) no-repeat left center;
  color: #4a545d;
  margin-bottom: 25px;
}

.text-name {
  font-size: 17px;
  font-weight: 400;
}

.text-date {
  font-size: 15px;
  font-weight: 300;
}

.educ {
  margin-bottom: 40px;
}

.universe {
  background: url(../img/bg-universe.png) no-repeat left center;
}

.course {
  background: url(../img/bg-course.png) no-repeat 10px center;
}

/* my-works */
.my-works-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.my-works-item {
  width: 170px;
  margin: 0 15px;
  text-align: center;
  margin-bottom: 30px;
}

.my-works-item-img {
  content: "";
  height: 130px;
  width: 166px;
  border: 2px solid #3ba8c0;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.5s all;
}

.my-works-item-img:before {
  position: absolute;
  top: 53px;
  left: 35px;
  transform: scale(0);
  content: "Посмотреть";
  color: white;
  font-style: 12px;
  font-weight: 300;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.5s all;
}

.my-works-item-img:hover {
  background: #3787b1;
  opacity: 0.5;
}

.my-works-item-img:hover:before {
  transform: scale(1);
}

.site-name,
.add-text {
  font-size: 13px;
  color: #3ba8c0;
  font-weight: 300;
  margin-bottom: 15px;
  font-style: italic;
}

.site-inform {
  font-size: 15px;
  font-weight: 300px;
}

.add-proj {
  margin-left: 15px;
  margin-bottom: 270px;
  height: 130px;
  width: 166px;
  border: 1px dashed #3ba8c0;
  border-radius: 4px;
  text-align: center;
  position: relative;
  background: #edf8fc url(../img/bg-add-project.png) no-repeat center;
  cursor: pointer;
  display: none;
}

.add-proj .add-text {
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.add-project {
  width: 360px;
  background: #eff3f7;
  display: none;
}

.add-project-title {
  width: 100%;
  height: 45px;
  background: #48cbe8;
  padding-left: 10px;
  border-bottom: 10px solid #67dffa;
  margin-bottom: 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.add-project-title p {
  line-height: 45px;
  font-size: 25px;
  color: #fff;
}

.add-project-title .add-project-close {
  width: 27px;
  height: 27px;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.add-project-title .add-project-close::before {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  color: #fff;
  content: "";
  transform: rotate(45deg);
}

/* Write */
.write {
  margin-bottom: 40px;
}

.write-title-block {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 55px 60px;
  text-align: center;
  background: #48cbe8;
  border-bottom: 17px solid #67dffa;
}

.write-title-block h2 {
  font-size: 27px;
  color: #fff;
  font-weight: 400;
}

.write-form-block {
  background: #eff3f7;
  padding: 55px 100px;
  color: #959aa8;
}

.form-top {
  display: flex;
  justify-content: space-between;
}

.form-name-block,
.form-email-block,
.form-message-block,
.form-capcha,
.form-btn {
  width: 190px;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px;
}

.form-name-block input,
.form-name-block textarea,
.form-email-block input,
.form-email-block textarea,
.form-message-block input,
.form-message-block textarea,
.form-capcha input,
.form-capcha textarea,
.form-btn input,
.form-btn textarea {
  margin-top: 10px;
  padding: 15px 10px;
  border: 1px solid #48cbe8;
  border-radius: 3px;
}

.form-name-block input:hover,
.form-name-block textarea:hover,
.form-email-block input:hover,
.form-email-block textarea:hover,
.form-message-block input:hover,
.form-message-block textarea:hover,
.form-capcha input:hover,
.form-capcha textarea:hover,
.form-btn input:hover,
.form-btn textarea:hover {
  cursor: pointer;
}

.form-name-block input::-webkit-input-placeholder,
.form-name-block textarea::-webkit-input-placeholder,
.form-email-block input::-webkit-input-placeholder,
.form-email-block textarea::-webkit-input-placeholder,
.form-message-block input::-webkit-input-placeholder,
.form-message-block textarea::-webkit-input-placeholder,
.form-capcha input::-webkit-input-placeholder,
.form-capcha textarea::-webkit-input-placeholder,
.form-btn input::-webkit-input-placeholder,
.form-btn textarea::-webkit-input-placeholder {
  color: #48cbe8;
  font-size: 13px;
  transition: 0.3s all;
}

.form-name-block input:focus::-webkit-input-placeholder,
.form-name-block textarea:focus::-webkit-input-placeholder,
.form-email-block input:focus::-webkit-input-placeholder,
.form-email-block textarea:focus::-webkit-input-placeholder,
.form-message-block input:focus::-webkit-input-placeholder,
.form-message-block textarea:focus::-webkit-input-placeholder,
.form-capcha input:focus::-webkit-input-placeholder,
.form-capcha textarea:focus::-webkit-input-placeholder,
.form-btn input:focus::-webkit-input-placeholder,
.form-btn textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-capcha {
  width: 100%;
}

.form-capcha input {
  margin-top: 30px;
  padding: 5px 10px;
}

.form-capcha-img {
  margin-top: 10px;
  width: 180px;
  height: 80px;
  border: 1px solid #48cbe8;
  border-radius: 3px;
  background: #fff;
  float: left;
  margin-right: 20px;
}

.form-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.form-btn input[type="submit"] {
  background: #48cbe8;
  padding: 10px 20px 5px;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  width: 140px;
  border-bottom: 4px solid #3ba8c0;
}

.form-btn input[type="submit"]:active {
  border-top: 4px solid #3ba8c0;
  border-bottom: 0;
}

.form-btn input[type="reset"] {
  background: #849db5;
  padding: 10px 20px 5px;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  width: 140px;
  border-bottom: 4px solid #687b8f;
}

.form-btn input[type="reset"]:active {
  border-top: 4px solid #687b8f;
  border-bottom: 0;
}

/* Login */
.autorize {
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 590px;
  height: 480px;
  flex-direction: column;
  background: #eff3f7;
}

.auto-title {
  width: 100%;
  height: 92px;
  background: #48cbe8;
  text-align: center;
  border-bottom: 15px solid #67dffa;
  margin-bottom: 35px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.auto-title p {
  line-height: 92px;
  font-size: 40px;
  color: #fff;
}

.auto-form {
  text-align: center;
}

.auto-form form {
  display: flex;
  flex-direction: column;
}

.auto-form form label {
  font-size: 36px;
  font-weight: 300;
  color: #959aa8;
  margin-bottom: 5px;
}

.auto-form form input {
  padding: 20px 15px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #48cbe8;
  border-radius: 3px;
}

.auto-form form input::-webkit-input-placeholder {
  color: #48cbe8;
  font-size: 13px;
  transition: 0.3s all;
}

.auto-form form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.auto-form form input[type="submit"] {
  margin-top: 30px;
  background: #48cbe8;
  padding: 10px 20px 5px;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  width: 140px;
  border-bottom: 4px solid #3ba8c0;
}

.auto-form form input[type="submit"]:active {
  border-top: 4px solid #3ba8c0;
  border-bottom: 0;
}

/* Footer */
.page-footer {
  background: #eff3f7 url(../img/line.png) top center no-repeat;
  font-weight: 300;
  flex: 0 0 auto;
  height: 80px;
}

.page-footer .container {
  position: relative;
  padding-top: 23px;
}

.page-footer .copyright {
  margin: 0 180px;
  padding-top: 7px;
  text-align: center;
  font-size: 13px;
}

.page-footer .lock {
  position: absolute;
  top: 26px;
  left: 20px;
}

.page-footer .lock-inner {
  display: block;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2;
  color: #4a545d;
  text-decoration: none;
  background: url(../img/lock-close.png) no-repeat;
  padding-left: 24px;
}

.page-footer .lock-inner:hover {
  text-decoration: underline;
  background: url(../img/lock-open.png) no-repeat;
}
