// стили для блока обратной связи

.feedback-form {
	width: 100%;
	position: relative;
	z-index:5;
	// display: none;
	&-block {
		width: 380px;
		margin: 0 auto;
		padding-top: 40px;
		text-align: center;
		margin-bottom: 70px;
		border-radius: $user-block__radius;
		height: 480px;
		position: relative;
		overflow: hidden;
	}
	&__title {
		@include sticks;
		color: $greyColor;
		position: relative;
		z-index:5;
		// display: none;
		&::before,&::after {
			margin: 0 8px;
		}
	}
	&__name,&__email,&__message {
		margin-bottom: 20px;
		width: 90%;
		padding: 15px 20px;
		color: rgba(55,62,66,0.5);
		border-radius: $user-block__radius;
		outline: 0;
		border: 0;
		transition: $trs_time all;
		position: relative;
		z-index: 10;
		&:focus {
			border: 2px solid $greenColor;
			outline: 0;
		}
	}
	&__message {
		height: 140px;
		resize: none;
	}
	// кнопки отправить и очистить
	&__bottom {
		width: 100%;
		@include flex(row,space-between,center);
		background: rgba(255,255,255,.7);
		border-radius: $user-block__radius;
	}
	&__submit, &__reset  {
		display: inline-block;
		background: $lightColor;
		opacity: 0.8;
		transition: $trs_time all;
		cursor: pointer;
		padding: 15px 33px;
		width: 50%;
		outline: 0;
		border: 0;
		color: $whiteColor;
		font-family: $mediumFont;
		&:hover {
			background: $greenColor;
			opacity: 0.8;
		}
	}
	&__reset {
		border-bottom-right-radius: $user-block__radius;
	}
	&__submit {
		border-right: 2px solid #74b9b6;
		border-bottom-left-radius: $user-block__radius;
	}
}

// неправильно или правильно заполненный инпут

.form__input--error {
	border: 2px solid #e44845;
}

.form__input--success {
	border: 2px solid $greenColor;
}


.feedback-form-block::before {
	content: "";
	display: block;
	width: 380px;
	height: 432px;
	background: url(../img/works__feedback__bg.jpg) no-repeat center;
	background-size: 1184px;
	background-position: -398px -524px;
	position: absolute;
	top: 20px;
	left: 0;
	filter: blur(20px);
}


// Медиа запросы

@media (max-width: 848px) {
	.feedback-form-block::before {
		background-position: -398px -565px;
	}
}

@media (max-width: 766px) {
	.feedback-form-block::before {
		background-position: -398px -644px;
	}
}

@media (max-width: 666px) {
	.feedback-form-block::before {
		background-position: -398px -761px;
	}
}

@media (max-width: 556px) {
	.feedback-form-block::before {
		background-position: -398px -771px;
	}
}


@media (max-width: 480px) {
	.feedback-form {
		width: 100%;
		&-block {
			width: 85%;
			margin-bottom: 40px;
		}
		&__name, &__email {
			padding: 10px 20px;
		}
		&__message {
			height: 90px;
		}
	}
	.feedback-form-block::before {
		background-position: -386px -750px;
	}
}

@media (max-width: 400px) {
	.feedback-form-block::before {
		background-position: -372px -761px;
	}
}

@media (max-width: 380px) {
	.feedback-form-block::before {
		width: 308px;
		background-position: -372px -771px;
	}
}

@media (max-width: 330px) {
	.feedback-form-block::before {
		width: 266px;
		background-position: -372px -792px;
	}
}

@media (min-width: 1200px) {
	.feedback-form-block::before {
		background-position: -372px -517px;
	}
}

@media (min-width: 1450px) {
	.feedback-form-block::before {
		background-position: -372px -500px;
	}
}

@media (min-width: 1550px) {
	.feedback-form-block::before {
		background-position: -372px -480px;
	}
}

@media (min-width: 1650px) {
	.feedback-form-block::before {
		background-position: -372px -460px;
	}
}

@media (min-width: 1750px) {
	.feedback-form-block::before {
		background-position: -372px -440px;
	}
}