// стили для блока feedback

.feedback {
	width: 100%;
	min-height: 1140px;
	background: url(../img/works__feedback__bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px;
	position: relative;
	&__img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 1140px;
		display: none;
		img {
			width: 100%;
			max-height: 1140px;
		}
	}
	&__title {
		text-align: center;
		@include sticks;
		&::before,&::after {
			margin-top: -15%;
		}
		&-block {
			width: 450px;
			margin: 0 auto;
			position: relative;
			z-index: 10;
		}
	}
	&__arrow-up {
		display: inline-block;
		width: 100%;
		text-align: center;
		i {
			font-size: 25px;
			color: $whiteColor;
			opacity: 0.5;
			transition: $trs_time all;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
	}
}

// Медиа запросы

@media (max-width: 768px) {
	.feedback {
		min-height: 977px;
		&__title {
			&::after,&::before {
				margin-top: 0;
			}
			&-block {
				width: 100%;
			}
		}
	}
}
@media (max-width: 480px) {
	.feedback {
		padding: 0;
		&__title {
			font-size: 2.3rem;
			margin-bottom: 20px;
		}
		&__arrow-up {
			margin-bottom: 25px;
		}
	}
}
