// Стили для слайдера

.slider {
	background: #f0efe9;
	min-height: 750px;
	@include flex(row, center, center);
	margin-bottom: 70px;
	z-index: 250;
	position: relative;
	&-left {
		width: 50%;
		&__info {
			display: block;
			width: 420px;
			margin: 0 auto;
		}
	}
	&-right {
		width: 50%;
		@include flex(column, flex-start, center);
	}
	// стили для левого блока в слайдере
	&__title {
		@include sticks;
		color: $greyColor;
		text-align: center;
		&::after,&::before {
			margin-top: -10%;
		}
	}
	&__tools {
		color: #20B5A1;
		text-transform: uppercase;
		text-align: center;
		&-block {
			margin: 0 auto;
			margin-bottom: 40px;
			border-top: 1px solid #acd6ce;
			border-bottom: 1px solid #acd6ce;
			padding: 20px;
		}
	}
	&__link {
		color: white;
		padding: 15px;
		background: $lightColor;
		border-radius: $user-block__radius;
		cursor: pointer;
		transition: $trs_time all;
		&:hover {
			background: $greenColor;
		}
		i {
			margin-right: 15px;
			color: $whiteColor;
			font-size: 20px;
		}
		&-block {
			width: 200px;
			margin: 0 auto;
		}
	}
	// стили для правого блока в слайдере
	&__display {
		height: 525px;
		width: 100%;
		@include flex(row, center, center);
		img {
			display: block;
			margin: auto;
		}
	}
	&__controls {
		@include flex(row,center,center);
		width: 100%;
	}
	&__prev, &__next {
		width: 50%;
		height: 225px;
		display: flex;
		background: #e3ddd0;
		transition: all $trs_time;
		color: rgba(255,255,255,0.5);
		cursor: pointer;
		&:hover {
			background: darken(#e3ddd0, 20%);
			color: rgba(255,255,255,1);
		}
		i {
			cursor: pointer;
			margin: auto;
			font-size: 35px;
			transition: $trs_time all;
		}
	}
}

// Медиа запросы

@media screen and (max-width: 1000px) {
	.slider {
		flex-direction: column;
		position: relative;
		min-height: 1014px;
		justify-content: flex-end;
		&-left {
			width: 100%;
			position: absolute;
			bottom: 250px;
			&__info {
				width: 100%;
			}
		}
		&-right {
			width: 100%;
			min-height: 1014px;
			display: flex;
			justify-content: space-between;
		}
		&__display {
			background: #eeebe0;
		}
		&__title {
			&::before,&::after {
				margin: 0 10px 0;
			}
		}
		&__title {
			margin-bottom: 25px;
		}
		&__tools {
			&-block {
				width: 348px;
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 580px) {
	.slider-left {
		bottom: 236px;
	}
}

@media (max-width: 480px) {
	.slider {
		min-height: 569px;
		margin-bottom: 25px;
		&-right {
			min-height: 569px;
		}
		&-left {
			bottom: 94px;
		}
		&__title {
			font-size: 1.7rem;
		}
		&__tools {
			&-block {
				width: 100%;
				padding: 15px 0;
			}
		}
		&__link {
			padding: 10px;
			margin-bottom: 10px;
		}
		&__display {
			height: 257px;
			img {
				width: 300px;
			}
		}
		&__prev,&__next {
			height: 94px;
		}
	}
}