// для заголовка МОИ РАБОТЫ

.works__title {
	&-block {
		position: relative;
		width: 100%;
		display: inline-block;
		text-align: center;
		padding: 70px 0;
		background: $whiteColor;
		z-index: 200;
	}
	@include sticks;
	&::before,&::after {
		margin-top: 0;
	}
}

// Медиа запросы 

@media (max-width: 480px) {
	.works__title-block {
		padding: 20px 0 0;
	}
}	