//- Контентная часть страницы about


.wrapper
  include ../_triangle__color__grey
  .container-1200
    section.content
      section.about-me
        span.about-me__title.title-big Обо мне
        div.about-me__photo
          img(src="app/img/user-block__photo.jpg")
        div.about-me__title-min.title-min Кто я
        div.about-me__desc
          p.
            Я веб разработчик из Набережных Челнов. Мне 21 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        div.about-me__desc
          p.
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      include _skills