//- Карта в странице about

section.map
  div.contacts
    p.contacts__title.title-min Контакты
    span.contacts__item 
      i.fa.fa-skype
      | war3traane
    span.contacts__item
      i.fa.fa-envelope
      | katashi1328@mail.ru
    span.contacts__item
      i.fa.fa-phone
      | +7 951 896 42 44
    span.contacts__item
      i.fa.fa-map-marker
      | г. Набережные Челны
