section.map
  div.contacts
    p.contacts__title.title-min Контакты
    span.contacts__skype war3traane
    span.contacts__mail katashi1328@mail.ru
    span.contacts__phone +7 951 *** ** **
    span.contacts__place г. Наб. Челны, пр-кт Московский д 37/15
