//- Карта в странице about

.map-wrap
  section.map#map
  div.contacts
    p.contacts__title.title-min Контакты
    span.contacts__item 
      i.fa.fa-skype
      a.contacts__link(href="skype:war3traane") war3traane
    span.contacts__item
      i.fa.fa-envelope
      a.contacts__link(href="mailto:katashi1328@mail.ru") katashi1328@mail.ru
    span.contacts__item
      i.fa.fa-phone
      a.contacts__link(href="tel:+79518964244") +7 951 896 42 44
    span.contacts__item
      i.fa.fa-map-marker
      | г. Набережные Челны
