//- Блок скилов в контентной части страницы about

section.skills
  span.skills__title.title-min Чем я могу быть <br> вам полезен
  p.skills__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
  div.skills__items-wrap
    span.skills__list-name Frontend
    div.skills__items
      ul.skills__list
        +circle ('HTML5', 90)
        +circle ('CSS3', 85)
        +circle ('Javascript', 60)
    span.skills__list-name Backend
    div.skills__items
      ul.skills__list
        +circle ('PHP', 30)
        +circle ('MySQL', 30)
        +circle ('Node.js & npm', 60)
        +circle ('Mongo.db', 5)
    span.skills__list-name Workflow
    div.skills__items
      ul.skills__list
        +circle ('Git', 90)
        +circle ('Gulp', 70)
        +circle ('Webpack', 50)