extends ../_template

block variables
  - var title = 'About page'
  - var url_css = "app/css/about.css"
  - var url_js = "app/js/about.js"

block content
  main
    include ../common/_welcome__bg
    include ../common/about/_content
    include ../common/about/_map
  include ../common/_footer
