extends ../_template

block variables
  - var title = 'About'
  - var page_class = 'about'

block content
  main
    include ../common/_welcome__bg
    include ../common/about/_content
    include ../common/about/_map
  include ../common/_footer
