//- страница about

extends ../_template

block variables
  - var title = 'About'

block content
  main
    include ../common/_portfolio_header
    include ../common/_welcome__bg
    include ../common/about/_content
    include ../common/about/_map
  include ../common/_footer
