extends ../_template

block variables
  - var title = 'Blog'
  - var page_class = 'blog'

block content
  main
    include ../common/_welcome__bg
    include ../common/blog/_content
  include ../common/_footer