//- страница blog

extends ../_template

block variables
  - var title = 'Blog'

block content
  include ../common/_menu
  main
    +svg-bg('blog_header')(class="js__header-text")
    include ../common/blog/_page-header--blog_page
    include ../common/blog/_content
  include ../common/_footer