//- страница blog

extends ../_template

block variables
  - var title = 'Blog'

block content
  main
    +svg-bg('blog_header')
    include ../common/blog/_welcome__bg__blog__page
    include ../common/blog/_content
  include ../common/_footer