//- страница index

extends ../_template

block variables
  - var title = 'Index page'

block content
  include ../common/_preloader
  include ../common/index/_index-parallax
  section.main.page-header.page-header--big
    button.btn-autho
      a(href="#").btn-autho__link Авторизоваться
    include ../common/index/_flip
    span.index-desc 
      span.index-desc__wide © Лейкин Андрей 
        span.index-desc__hide| 
      | создано с любовью в LoftSchool | 2017

