extends ../_template

block variables
  - var title = 'Works'
  - var page_class = 'works'

block content
  main
    include ../common/_welcome__bg
    include ../common/works/_title
  include ../common/_footer