//- страница works

extends ../_template

block variables
  - var title = 'Works'

block content
  include ../common/_menu
  main
    include ../common/_portfolio_header
    include ../common/_welcome__bg
    include ../common/works/_slider
    include ../common/works/_feedback
  include ../common/_footer