// форма входа

.login {
	background: rgba(255,255,255,.7);
	margin: auto;
	width: 380px;
	border-radius: $user-block__radius;
	padding-bottom: 80px;
	position: relative;
	min-height: 410px;
	&__top {
		@include flex(column,space-between,center);
	}
	// заголовок
	&__title {
		margin-top: 25px;
		@include sticks;
		&::after,&::before {
			margin-top: 1%;
		}
	}
	// логин и пароль
	&__login,&__pass{
		padding: 10px 20px;
		width: 296px;
		height: 45px;
		margin: 0 auto 20px 60px;
		border: 0;
		border-top-right-radius: $user-block__radius;
		border-bottom-right-radius: $user-block__radius;
		color: rgba(55,62,66,0.5);
		font-family: $regularFont;
		transition: $trs_time all;
		outline: 0;
		&:focus {
			border: 2px solid $greenColor;
			outline: 0;
		}
		&-label {
			display: block;
			content:"";
			height: 45px;
			width: 45px;
			background: #eee;
			margin: 0;
			position: absolute;
			left: 15px;
			top: 109px;
			border-top-left-radius: $user-block__radius;
			border-bottom-left-radius: $user-block__radius;
			padding: 13px;
			padding-left: 15px;
		}
	}
	&__pass-label {
		top: 174px;
	}
	// Чекбокс
	&__check {
		position: relative;
		margin-right: 5px;
		border: 0;
		outline: 0;
		&-label {
			vertical-align: middle;
			font-family: $regularFont;
			position: relative;
			.fa-check {
				position: absolute;
				z-index: 5;
				left: -27px;
				top: 2px;
				color: $whiteColor;
			}
		}
		&-block {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
		&::before, &::after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";
			width: 20px;
			height: 20px;
			background: $whiteColor;
			transform: translateX(-7px);
		}
		&::after {
			display: none;
			background: $greenColor;
		}
		&:checked::after {
			display: block;
		}
	}
	// вопрос "Вы точно человек?"
	&__q {
		display: block;
		text-align: center;
		margin-bottom: 15px;
		font-family: $boldFont;
	}
	// Радио кнопки
	&__radio {
		position: relative;
		margin-right: 5px;
		outline: 0;
		border: 0;
		&-block {
			width: 100%;
			text-align: center;
		}
		&-label {
			font-family: $regularFont;
		}
		&-label[for="radio1"] {
			margin-right: 30px;
		}
		&::before, &::after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";
			width: 18px;
			height: 18px;
			border: 1px solid #eee;
			background: $whiteColor;
			transform: translate(-7px, -2px);
			border-radius: 50%;
		}
		&::after {
			display: none;
			width: 12px;
			height: 12px;
			background: $greenColor;
			border: 0;
			transform: translate(-3px, 2px);
		}
		&:checked::after{
			display: block;
		}
	}
	// кнопки входа и "на главную"
	&__btn, &__link  {
		bottom: 0;
		right: 0;
		position: absolute;
		background: $lightColor;
		opacity: 0.8;
		transition: $trs_time all;
		display: block;
		cursor: pointer;
		padding: 15px 33px;
		width: 50%;
		outline: 0;
		border: 0;
		color: $whiteColor;
		font-family: $mediumFont;
		&:hover {
			background: $greenColor;
			opacity: 0.8;
		}
	}
	&__btn {
		border-bottom-right-radius: $user-block__radius;
	}
	&__link {
		left: 0;
		border-right: 2px solid #74b9b6;
		text-align: center;
		border-bottom-left-radius: $user-block__radius;
	}
}

// cтили для иконок около инпутов "Логин" и "Пароль"
.login__login-icon {
	display: block;
	font-size: 20px;
	color: #C4CBCD;
	transition: all linear $trs_time;
}

// неправильно или правильно заполненный инпут и иконка
.form__input--error {
	border: 2px solid #e44845;
}

.form__input--success {
	border: 2px solid $greenColor;
}

.form__icon--error {
	color: #e44845;
}

.form__icon--success {
	color: $greenColor;
}

// для иконки при фокусе на текстовом поле
.login__login:focus + .login__login-label {
	i {
		color: $greenColor;
	}
}

.login__pass:focus + .login__pass-label {
	i {
		color: $greenColor;
	}
}



// для текста при выбранной радио кнопке
#radio1:checked + label[for="radio1"] {
	color: $lightColor;
}
#radio2:checked + label[for="radio2"] {
	color: $lightColor;
}

// Медиа запросы

@media (max-width: 480px) {
	.login {
		width: 300px;
		&__title {
			&::after,&::before {
				margin: 1% 7px 0;
			}
		}
		&__login,&__pass{
			width: 75%;
		}
		&__link {
			padding: 15px 20px;
		}
	}
}

@media (max-width: 320px) {
	.login {
		width: 300px;
	}
}