// стили для footer

// блок футер
.footer {
	flex: 0 0 auto;
	width: 100%;
	height: 150px;
	background: #555b5e;
	color: $whiteColor;
	@include flex(column,space-between,flex-start);
}
// футер верхняя линия
.footer-top {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: 100%;
	padding-bottom: 60px;
	@include flex(row,space-between,flex-start);
	&__item {
		display: inline-block;
	}
	&__link {
		display: block;
		padding: 30px 35px;
		color: $whiteColor;
		font-family: $mediumFont;
		text-align: center;
		transition: $trs_time all;
		&:hover {
			color: $greenColor;
		}
	}
	&__social {
		padding: 20px 35px;
		display: flex;
		span {
			margin: 0 20px;
			a {
				font-size: 0;
				.fa-vk,.fa-github-alt,.fa-instagram {
					font-size: 22px;
					color: rgba(255,255,255,0.5);
					width: 38px;
					height: 38px;
					border: 1px solid #999;
					border-radius: 50%;
					padding: 6px;
					transition: $trs_time all;
					&:hover {
						background: $whiteColor;
						color: #000;
					}
				}
				.fa-vk {
					padding-right: 7px;
				}
				.fa-github-alt,.fa-instagram {
					padding-left: 8px;
				}
			}
		}
	}
}
// футер нижняя линия
.footer-bottom {
	padding: 30px 35px;
	width: 100%;
	@include flex(row,space-between,center);
	&__desc {
		font-family: $lightFont;
		color: rgba(255,255,255,0.5);
		line-height: 24px;
	}
}

// Медиа запросы 

@media screen and (max-width: 768px) {
	.footer {
		height: auto;
	}
	.footer-top {
		flex-direction: column;
		padding-bottom: 30px;
	}
	.footer-top__nav,.footer-top__social {
		width: 100%;
		text-align: center;
	}
	.footer-top__social {
		display: block;
		padding: 0;
	}
	.footer-bottom {
		flex-wrap: wrap;
		text-align: center;
		padding-bottom: 0;
		&__desc {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}