
.footer {
	flex: 0 0 auto;
	width: 100%;
	height: 150px;
	background: #555b5e;
	color: #FFF;
	@include flex(column,space-between,flex-start);
}
.footer-top {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: 100%;
	padding-bottom: 60px;
	@include flex(row,space-between,flex-start);
	&__item {
		display: inline-block;
	}
	&__link {
		display: block;
		padding: 30px 35px;
		color: #fff;
		text-align: center;
		transition: 0.5s else;
		&:hover {
			color: $greenColor;
		}
	}
	&__social {
		padding: 30px 35px;
		display: flex;
		span {
			margin: 0 10px;
		}
	}
}
.footer-bottom {
	padding: 30px 35px;
	width: 100%;
	@include flex(row,space-between,center);
	&__desc {
		color: rgba(255,255,255,0.5);
		line-height: 24px;
	}
}