// стили header

// треугольники
.welcome__bg {
	&::before, &::after {
		width: 50%;
		height: 20%;
		display: block;
		content: "";
		position: absolute;
	}
	&::before {
		bottom: 0;
		left: 0;
		background-image: linear-gradient(189deg, transparent 50%, #efeee9 50%);
	}
	&::after {
		bottom: 0;
		right: 0;
		background-image: linear-gradient(171deg, transparent 50%, #efeee9 50%);
	}
}
// меню и гамбургер
.header {
	display: flex;
	justify-content: space-between;
	&__social {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		span {
			margin: 0 30px;
			a {
				font-size: 0;
				i {
					font-size: 30px;
					color: rgba(255,255,255,0.5);
					transition: $trs_time all;
					&:hover {
						color: rgba(255,255,255,1);
					}
				}
			}
		}
	}
	&__menu {
		width: 40px;
		height: 7px;
		border-radius: 3px;
		content: "";
		background: #FFF;
		cursor: pointer;
		margin-top: 12px;
		&::after, &::before {
			display: block;
			width: 40px;
			height: 7px;
			border-radius: 3px;
			content: "";
			background: #FFF;
		}
		&::before {
			transform: translateY(12px);
		}
		&::after {
			transform: translateY(-19px);
		}
	}
}
// для юзер блока
.user-block {
	background-color: transparent;
	&__name {
		color: white;
	}
	&__desc {
		color: white;
	}
}
// стрелка вниз
.arrow-down {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
	i {
		font-size: 25px;
		color: #fff;
		opacity: 0.5;
		transition: $trs_time all;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}