// Стили для надписей на фоне


// Надписи общий стиль
.header-text {
	fill: $whiteColor;
	opacity: 0.06;
	position: absolute;
	top: 35%;
	left: 0%;
	z-index: 1;
	flex: 1 1 0;
	width: 100%;
	height: 25vw;
	z-index: 5;
}

// Надпись works на заднем фоне
.header-text--works_header {
	fill: black;
	opacity: 0.07;
	height: 10vw;
	top: 5%;
	transition: $trs_time all;
}

// Надпись blog на заднем фоне
.header-text--blog_header {
	height: 19vw;
	top: 46%;
	z-index: 5;
}

// Надпись about на заднем фоне
.header-text--about_header {
	fill: black;
	opacity: 0.07;
	position: absolute;
	top : 2%;
	left: 25%;
	transform: translateX(-50%);
	height: 8vw;
	transition: $trs_time all;
}

// Надпись about - темная на заднем фоне
.header-text--about_header_dark {
	fill: black;
	opacity: 0.07;
	position: absolute;
	top : -30%;
	left: 50%;
	transform: translateX(-50%);
	width: 96vw;
	height: 12vw;
	transition: $trs_time all;
}


// Медиа запросы
@media (max-width: 1200px) {
	.header-text--about_header {
		height: 10vw;
		top: 3%;
	}
}
@media (max-width: 1000px) {
	.header-text--works_header {
		top: 15%;
	}
	.header-text--about_header {
		height: 13vw;
	}
}

@media (max-width: 768px) {
	.header-text--portfolio_header {
		display: none;
	}
	.header-text--about_header {
		left: 50%;
		top: 1%;
		height: 18vw;
	}
	.header-text--about_header_dark {
		top: -85%;
		height: 25vw;
	}
	.header-text--works_header {
		height: 25vw;
	}
	.header-text--blog_header {
		height: 25vw;
	}
}
@media (max-width: 665px) {
	.header-text--about_header_dark {
		top: -5%;
	}
}
@media (max-width: 520px) {
	.header-text--about_header {
		height: 25vw;
	}
}
@media (max-width: 480px) {
	.header-text--about_header_dark {
		height: 30vw;
	}
	.header-text--about_header {
		left: 50%;
		top: 2%;
		height: 25vw;
	}
	.header-text--blog_header {
		height: 30vw;
	}
	.header-text--works_header {
		height: 20vw;
		top: 0;
	}
}

@media (max-width: 320px){
	.header-text--blog_header {
		height: 55vw;
		top: 75%;
	}
	.header-text--works_header {
		height: 25vw;
		top: 20%;
	}
	.header-text--about_header {
		height: 25vw;
		top: 2%;
	}
}


@media (min-width: 1200px) {
	.header-text--portfolio_header {
		top: 24%;
	}
}
