// Стили для меню


// главный блок
.main-menu {
	position: fixed;
	z-index: 9000;
	width: 100%;
	height: 100%;
	display: none;
}

// Список меню
.main-menu__list {
	position: relative;
	margin: 0 auto;
	width: 100%;
	z-index: 9001;
	padding-top: 100px;
	display: none;
	transition: $trs_time all;
}
// Элемент списка меню
.main-menu__item {
	margin-bottom: 60px;
	
	// медиа запросы для этого элемента
	@media (max-width: 768px) {
		margin-bottom: 40px;
	}
	@media (max-width: 480px) {
		margin-bottom: 20px;
	}
	@media (max-width: 320px) {
		margin-bottom: 10px;
	}
}
// Ссылка меню
.main-menu__link {
	padding: 15px;
	@include sticks;
	font-family: $titleFont;
	color: $whiteColor;
	font-size: 3.94rem;
	&::after,&::before {
		margin: 0 10px;
		display: none;
		opacity: 1;
		background: $whiteColor;
	}
	
	// медиа запросы для этого элемента
	@media (max-width: 768px) {
		font-size: 3rem;
	}
	@media (max-width: 480px) {
		font-size: 2.5rem;
	}
	@media (max-width: 320px) {
		font-size: 2rem;
	}
}
// Эффект при наведении на ссылку
.main-menu__link:hover::after {
	display: block;
}
.main-menu__link:hover::before {
	display: block;
}

// Класс для анимации открытия
.main-menu__animate {
	&::before, &::after {
		width: 50%;
		content: "";
		background-color: $lightColor;
		opacity: 0.87;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	&::before {
		animation: left 0.7s linear;
		left: 0;
	}
	&::after {
		animation: right 0.7s linear;
		right: 0;
	}
}

// Анимации

@keyframes left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
