// стили page-header


.page-header {
	width: 100%;
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	&__img {
		position: absolute;
		height: 120vh;
		top: 0;
		left: 0;
		right: 0;
		background: url(../img/page-header--big.jpg) 0 0 no-repeat;
		background-size: cover;
		min-height: 1140px;
	}
}

.page-header--small {
	height: 100%;
	max-height: 396px;
	min-height: 600px;
	background-size: cover;
	position: relative;
}
.page-header__img--small {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 110vh;
	background: url(../img/page-header--small.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 680px;
}
.page-header--big {
	background: url(../img/page-header.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 100vh;
	
}
// Медиа запросы 

@media (max-width: 768px) {
	.page-header {
		min-height: 570px;
		&__img {
			min-height: 650px;
		}
	}
	.page-header--big {
		min-height: 100vh;
		justify-content: space-between;
	}
}
@media (max-width: 480px) {
	.page-header {
		padding: 0;
		min-height: 480px;
		&__img {
			min-height: 550px;
		}
	}
}