// Стили для надписей на фоне


// Надпись portfolio, blog, works на заднем фоне
.svg-bg__portfolio_header,
.svg-bg__blog_header,
.svg-bg__works_header {
	fill: $whiteColor;
	opacity: 0.06;
	position: absolute;
	top: 35%;
	left: 0%;
	z-index: 1;
	flex: 1 1 0;
	width: 100%;
	height: 25vw;
	z-index: 5;
}

// Надпись works на заднем фоне
.svg-bg__works_header {
	fill: black;
	opacity: 0.07;
	height: 10vw;
	top: 5%;
	transition: $trs_time all;
}

// Надпись blog на заднем фоне
.svg-bg__blog_header {
	height: 19vw;
	top: 46%;
	z-index: 5;
}

// Надпись about на заднем фоне
.svg-bg__about_header {
	fill: black;
	opacity: 0.07;
	position: absolute;
	top : 2%;
	left: 25%;
	transform: translateX(-50%);
}

// Надпись about - темная на заднем фоне
.svg-bg__about_header__dark {
	fill: black;
	opacity: 0.07;
	position: absolute;
	top : -30%;
	left: 50%;
	transform: translateX(-50%);
	width: 96vw;
	height: 12vw;
	transition: $trs_time all;
}


// Медиа запросы
@media (max-width: 1000px) {
	.svg-bg__works_header {
		top: 15%;
	}
}

@media (max-width: 768px) {
	.svg-bg__portfolio_header {
		display: none;
	}
	.svg-bg__about_header {
		left: 50%;
		top: 1%;
	}
	.svg-bg__about_header__dark {
		top: -85%;
		height: 25vw;
	}
	.svg-bg__works_header {
		height: 25vw;
	}
	.svg-bg__blog_header {
		height: 25vw;
	}
}
@media (max-width: 665px) {
	.svg-bg__about_header__dark {
		top: -5%;
	}
}
@media (max-width: 480px) {
	.svg-bg__about_header__dark {
		height: 30vw;
	}
	.svg-bg__about_header {
		left: 50%;
		top: 2%;
		height: 25vw;
	}
	.svg-bg__blog_header {
		height: 30vw;
	}
	.svg-bg__works_header {
		height: 20vw;
		top: 0;
	}
}

@media (max-width: 320px){
	.svg-bg__blog_header {
		height: 55vw;
		top: 75%;
	}
	.svg-bg__works_header {
		height: 25vw;
		top: 20%;
	}
}


@media (min-width: 1200px) {
	.svg-bg__portfolio_header {
		top: 24%;
	}
}
