// Стили для треугольников

.triangle {
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 3;
}

.triangle__left {
	fill: $whiteColor;
}

.triangle__right {
	fill: $whiteColor;
}

.triangle__left__color__grey {
	fill: $beigeColor;
}

.triangle__right__color__grey  {
	fill: $beigeColor;
}