// стили user-block

.user-block {
	background: rgba(252,252,252,.85);
	margin: auto;
	width: 380px;
	margin-bottom: 100px;
	border-radius: $user-block__radius;
	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__photo {
		margin: 25px 0;
	}
	&__name {
		display: block;
		font-size: 28px;
		line-height: 34px;
		color: $greyColor;
		margin-bottom: 10px;
	}
	&__desc {
		color: $greyColor;
		opacity: 0.8;
		margin-bottom: 35px;
	}
	&__social {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		span {
			margin: 0 10px;
		}
	}
	&__bottom {
		background: #73CAC2;
		border-bottom-left-radius: $user-block__radius;
		border-bottom-right-radius: $user-block__radius;
	}
	&__nav {
		width: 100%;
		color: #FFF;
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: inline-block;
		background: $lightColor;
		transition: 0.5s else;
		&:first-child {
		border-bottom-left-radius: $user-block__radius;
		}
		&:last-child {
		border-bottom-right-radius: $user-block__radius;
		}
		&:hover {
			background: $greenColor;
		}
	}
	&__link {
		display: block;
		cursor: pointer;
		padding: 15px 33px;
		color: #FFF;
	}
}