// стили user-block

.user-block {
	background: transparent;
	margin: auto;
	width: 380px;
	margin-bottom: 150px;
	border-radius: $user-block__radius;
	z-index: 100;
	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
	}
	&__photo {
		content: "";
		margin: 25px 0;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: url(../img/user-block__photo2.jpg);
		background-position: top;
		background-size: cover;
	}
	&__name {
		display: block;
		font-size: 28px;
		line-height: 34px;
		color: $whiteColor;
		margin-bottom: 10px;
		font-family: $mediumFont;
	}
	&__desc {
		color: $whiteColor;
		opacity: 0.8;
		margin-bottom: 35px;
	}
	&__social {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		span {
			margin: 0 30px;
			a {
				font-size: 0;
				i {
					font-size: 25px;
					color: $lightColor;
					transition: $trs_time all;
					&:hover {
						color: $greenColor;
					}
				}
			}
		}
	}
	&__bottom {
		background: #73CAC2;
		border-bottom-left-radius: $user-block__radius;
		border-bottom-right-radius: $user-block__radius;
	}
	&__nav {
		width: 100%;
		color: $whiteColor;
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: inline-block;
		background: $lightColor;
		transition: $trs_time all;
		&:first-child {
		border-bottom-left-radius: $user-block__radius;
		}
		&:last-child {
		border-bottom-right-radius: $user-block__radius;
		}
		&:hover {
			background: $greenColor;
		}
	}
	&__link {
		display: block;
		cursor: pointer;
		padding: 15px 30px;
		color: $whiteColor;
		font-family: $mediumFont;
	}
}

.user-block__bg__white {
	background: rgba(252,252,252,.85);
}
.user-block__name__color__grey {
	color: $greyColor;
}
.user-block__desc__color__grey {
	color: $greyColor;
}

// Медиа запросы

@media (max-width: 768px) {
	.user-block {
		margin:0 auto 20px;
	}
}

@media (max-width: 480px) {
	.user-block {
		width: 300px;
		&__photo {
			margin: 15px auto;
		}
		&__desc {
			margin-bottom: 15px;
		}
		&__social {
			margin-bottom: 15px;
		}
		&__nav {
			font-size: 14px;
		}
		&__link {
			padding: 13px 21px
		}
	}
}