// стили welcome__bg

.welcome__bg {
	background: url(../img/welcome__bg.jpg) no-repeat 0 0;
	background-size: cover;
	width: 100%;
	min-height: 770px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.welocome__bg__min-height {
	min-height: 396px;
	background: url(../img/welcome__bg__min-height.jpg) no-repeat 0 0;
	background-size: cover;
	position: relative;
}

// Медиа запросы 

@media (max-width: 768px) {
	.welcome__bg {
		min-height: 570px;
	}
	.welcome__bg-max-height {
		min-height: 100vh;
		justify-content: space-around;
	}
}
@media (max-width: 480px) {
	.welcome__bg {
		padding: 0;
	}
}