// стили welcome__bg

.welcome__bg {
	background: url(../img/welcome__bg.jpg) no-repeat 0 0;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}